# Data Types and Structures Questions

Q1> What are data structures, and why are they important?

Ans> Data structures are ways to organize and store data efficiently to perform operations like accessing, inserting, updating, and deleting data. They are important because they allow you to solve problems efficiently by organizing data in ways that optimize performance, reduce space complexity, and speed up operations, which is crucial in large-scale applications.

Q2> Explain the difference between mutable and immutable data types with examples?

Ans> **Mutable data types**: These are data types whose values can be changed after creation. For example:

  1.	Lists ([]): You can change, add, or remove elements in a list.

  2.	Dictionaries ({}): You can modify the values associated with keys.

  3.	Sets ({}): You can add or remove elements in a set.

**Immutable data types**: These are data types whose values cannot be changed once they are created. For example:

  1.	Strings ('abc'): You can't modify a string directly after creation.

  2.	Tuples (()): You can't modify the elements in a tuple.

  3.	Integers, floats: Cannot be altered once they are assigned.

Q3> What are the main differences between lists and tuples in Python?

Ans> •	**Mutability**: Lists are mutable, meaning their elements can be modified. Tuples are immutable, meaning once they are created, their elements cannot be changed.

•	**Syntax**: Lists are defined with square brackets ([]), while tuples are defined with parentheses (()).

•	**Performance**: Tuples are generally faster than lists because of their immutability, making them useful in performance-critical situations.

•	**Use cases**: Lists are better for collections of items that may change over time, while tuples are used for fixed collections of items.

Q4> Describe how dictionaries store data?

Ans> Dictionaries store data as key-value pairs. Each key is unique, and it maps to a specific value. The keys are used to access the corresponding values. In Python, dictionaries are implemented using hash tables, which provide fast lookups based on the key.

Q5> Why might you use a set instead of a list in Python?

Ans> A set is used instead of a list when you need a collection of unique elements and you don't care about the order of the elements. Sets automatically eliminate duplicates and offer faster membership tests (in keyword) compared to lists.

Q6> What is a string in Python, and how is it different from a list?

Ans> A string in Python is an immutable sequence of characters. Unlike lists, which can hold elements of any type, strings are specifically designed to hold textual data. Strings cannot be modified in place, whereas lists can be modified by changing, adding, or removing elements.

Q7> How do tuples ensure data integrity in Python?

Ans> Tuples are immutable, meaning once they are created, their values cannot be changed. This immutability ensures that the data stored in a tuple remains constant throughout the program, making tuples ideal for use in situations where data integrity is essential.

Q8> What is a hash table, and how does it relate to dictionaries in Python?

Ans> A hash table is a data structure that stores data in key-value pairs, where the key is hashed to determine the index at which the value is stored. Python's dictionaries are implemented using hash tables, providing fast lookups, insertions, and deletions by hashing the keys.

Q9> Can lists contain different data types in Python?

Ans> Yes, lists can contain elements of different data types. For example, a list can contain integers, strings, floats, and even other lists or dictionaries:
```
# This is formatted as code

my_list = [1, "hello", 3.14, [1, 2, 3], {'key': 'value'}]

```

Q10> Explain why strings are immutable in Python?

Ans> Strings are immutable in Python because their content cannot be changed once created. This immutability helps with memory efficiency, allows for string interning (storing only one copy of a string), and ensures that strings can be used safely in contexts like dictionaries, where keys need to be hashable and unchangeable.

Q11> What advantages do dictionaries offer over lists for certain tasks?

Ans> Dictionaries provide faster lookups for data retrieval by key, while lists require sequential searches. Dictionaries also allow for more intuitive and readable code when you need to store data in key-value pairs, such as storing a person's name as a key and their age as a value.

Q12> Describe a scenario where using a tuple would be preferable over a list?

Ans> A tuple would be preferable when you need to store a fixed collection of items, such as coordinates (latitude, longitude) or a date (year, month, day), where the data shouldn't change. Tuples are also more memory-efficient and faster than lists when data integrity is a concern.

Q13> How do sets handle duplicate values in Python?

Ans> Sets automatically eliminate duplicate values. If you try to add an element to a set that is already present, the set will not include the duplicate element. For example:

```
# This is formatted as code

my_set = {1, 2, 3, 3}
print(my_set)  # Output: {1, 2, 3}
```

Q14> How does the “in” keyword work differently for lists and dictionaries?

Ans> •	In a **list**, the in keyword checks whether an element exists in the list by iterating through each item sequentially.

•	In a **dictionary**, the in keyword checks whether a specific key exists in the dictionary, performing a faster lookup due to the underlying hash table implementation.

Q15> Can you modify the elements of a tuple? Explain why or why not?

Ans> No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be altered, which ensures data integrity.

Q16> What is a nested dictionary, and give an example of its use case?

Ans> A nested dictionary is a dictionary where the values themselves are dictionaries. This allows for more complex structures. For example:

```
# This is formatted as code

student = {
    "name": "Alice",
    "grades": {
        "math": 90,
        "science": 85
    }
}

```
Q17> Describe the time complexity of accessing elements in a dictionary?

Ans> The time complexity for accessing elements in a dictionary is O(1) on average. This is because dictionaries in Python use hash tables, which allow for constant-time access to the value associated with a key.

Q18> In what situations are lists preferred over dictionaries?

Ans> Lists are preferred over dictionaries when you need an ordered collection of items or when you need to maintain the insertion order (which is guaranteed in Python 3.7+). Lists are also used when you want to access elements by index rather than by a key.

Q19> Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans> Dictionaries are considered unordered because the key-value pairs are stored based on the hash value of the key, not in the order they were added. However, starting with Python 3.7, dictionaries maintain insertion order, but they are still not "ordered" in the sense of being indexed like lists. This affects data retrieval in that you access values via keys rather than position.

Q20> Explain the difference between a list and a dictionary in terms of data retrieval.

Ans> •	**List**: Data is retrieved using an index (integer position). For example, my_list[0] retrieves the first element.

•	**Dictionary**: Data is retrieved using a key, not an index. For example, my_dict['key'] retrieves the value associated with that key.

# Practical Questions

Q1> Write a code to create a string with your name and print it.

In [ ]:
# Create a string with my name
my_name = "Prasun Mondal"

# Print the string
print(my_name)

Prasun Mondal

Q2> Write a code to find the length of the string "Hello World".

In [ ]:
#Create a string with Hello World
str_a = "Hello World"

#Length of String
len(str_a)

11

Q3> Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
#Using Loop
str_a = "Python Programming"
for i in range(3):
  print(str_a[i],end="")

Pyt

In [ ]:
# Original string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the sliced text
print(sliced_text)

Pyt

Q4> Write a code to convert the string "hello" to uppercase.

In [ ]:
# Original string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the uppercase string
print(uppercase_text)

HELLO

Q5> Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Original string
text = "I like apple"

# Replace 'apple' with 'orange'
modified_text = text.replace("apple", "orange")

# Print the modified string
print(modified_text)

I like orange

Q6> Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Using Loop
list_a = []
i=1
while i<=5:
  list_a.append(i)
  i=i+1
print(list_a)

[1, 2, 3, 4, 5]

Q7> Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
#Create list with values - [1, 2, 3, 4]
list_a = [1,2,3,4]

#Appned the value 10 to list
list_a.append(10)

#print the modified list
print(list_a)

[1, 2, 3, 4, 10]

Q8> Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
#Create list with values - [1, 2, 3, 4]
list_a = [1,2,3,4,5]

#Remove the value 3 from list
list_a.remove(3)

#print the modified list
print(list_a)

[1, 2, 4, 5]

Q9> Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# List of elements
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(second_element)

b

Q10> Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Original list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
my_list.reverse()

# Print the reversed list
print(my_list)

[50, 40, 30, 20, 10]

Q11> Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [1]:
# Creating the tuple
tuple_a = (10, 20, 30)

# Printing the tuple
print(tuple_a)

(10, 20, 30)

Q12> Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [5]:
#Creating the tuple
tuple_a = ('apple', 'banana', 'cherry')

#Access the first element
a=tuple_a[0]

#print a
print("First element is - ",a)

First element is -  apple

Q13>  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [10]:
#Creating the tuple
tuple_num =  (1, 2, 3, 2, 4, 2)
count = 0
for i in tuple_num:
  if i == 2:
    count=count+1
print("Number 2 appears for - ",count,"times")

Number 2 appears for -  3 times

Q14> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
#creating the tuple
tuple_animal =  ('dog', 'cat', 'rabbit')

#Using Loop
for i in range(0,len(tuple_animal)):
  if tuple_animal[i] == 'cat':
    print("Index of the element 'cat' - ", i)

Index of the element 'cat' -  1

In [19]:

# Finding the index of the element "cat"
index_of_cat = tuple_animal.index('cat')

# Printing the index
print(index_of_cat)

1

Q15> Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [20]:
# Creating the tuple
my_tuple = ('apple', 'orange', 'banana')

# Checking if "banana" is in the tuple
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q16> Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [21]:
# Creating the set
my_set = {1, 2, 3, 4, 5}

# Printing the set
print(my_set)

{1, 2, 3, 4, 5}

Q17> Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [25]:
#creating the set
my_set = {1,2,3,4}

#add element 6 to set
my_set.add(6)

#print the new value of set
print(my_set)

{1, 2, 3, 4, 6}

Q18> Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [26]:
#create the tuple
my_tuple = (10,20,30)

#print the tuple
print(my_tuple)

(10, 20, 30)

Q19> Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
#Creating the tuple
tuple_a = ('apple', 'banana', 'cherry')

#Access the first element
a=tuple_a[0]

#print a
print("First element is - ",a)

First element is -  apple

Q20>  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [27]:
#Creating the tuple
tuple_num =  (1, 2, 3, 2, 4, 2)
count = 0
for i in tuple_num:
  if i == 2:
    count=count+1
print("Number 2 appears for - ",count,"times")

Number 2 appears for -  3 times

Q21> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
#creating the tuple
tuple_animal =  ('dog', 'cat', 'rabbit')

#Using Loop
for i in range(0,len(tuple_animal)):
  if tuple_animal[i] == 'cat':
    print("Index of the element 'cat' - ", i)

Index of the element 'cat' -  1

In [ ]:

# Finding the index of the element "cat"
index_of_cat = tuple_animal.index('cat')

# Printing the index
print(index_of_cat)

1

Q22> Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
# Creating the tuple
my_tuple = ('apple', 'orange', 'banana')

# Checking if "banana" is in the tuple
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q23> Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
# Creating the set
my_set = {1, 2, 3, 4, 5}

# Printing the set
print(my_set)

{1, 2, 3, 4, 5}

Q24> Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
#creating the set
my_set = {1,2,3,4}

#add element 6 to set
my_set.add(6)

#print the new value of set
print(my_set)

{1, 2, 3, 4, 6}